@import "tailwindcss";

@theme {
  --color-app-bg: #020617;
  --color-panel-bg: rgba(15, 23, 42, 0.5); /* slate-900/50 */
  --color-border: rgba(255, 255, 255, 0.1);
  --color-accent: #6366f1; /* indigo-500 */
}

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
